/*
CORES
#5C7073
#40261D
#BF826B
#F2CBBD
#F2F2F2

#591C27
#0D2626
#BF895A
#A67A6A
#F2F2F2



.edu-nsw-act-cursive-<uniquifier> {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/
